<style>
body {
		background-image: url('../images/televisionbg.jpeg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
		}
h1 {
	position: absolute;
	top: 20%;
	width: 100%;
	color: #B30000;

		text-align: center;
		text-decoration: none;
		text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;}
	</style>